<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crudoperation</title>
    <link rel="stylesheet" href="{% static 'reg/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'reg/css/cfront.css' %}">
</head>
<body>
    <div class="container mt-5" >
        <h2 class="text-center alert alert-danger">WELCOME TO CRUD OPERATION</h2>
        {% block content %}     {% endblock content %}
    </div>
       

    <script src="{% static 'reg/js/jquery.js' %}"></script>
    <script src="{% static 'reg/js/popper.js' %}"></script>
    <script src="{% static 'reg/js/bootstrap.js' %}"></script>
</body>
</html> 